[submodule "esp-idf/esp-idf/components/u8g2-hal-esp-idf"]
	path = esp-idf/esp-idf/components/u8g2-hal-esp-idf
	url = https://github.com/mkfrey/u8g2-hal-esp-idf.git
[submodule "esp-idf/esp-idf/components/u8g2"]
	path = esp-idf/esp-idf/components/u8g2
	url = https://github.com/olikraus/u8g2.git
[submodule "esp-idf/components/u8g2"]
	path = esp-idf/components/u8g2
	url = https://github.com/olikraus/u8g2.git
[submodule "esp-idf/components/u8g2-hal-esp-idf"]
	path = esp-idf/components/u8g2-hal-esp-idf
	url = https://github.com/mkfrey/u8g2-hal-esp-idf.git
